{% extends 'base.html' %}
<link rel="stylesheet" href="style.css">
{% block content %}
<nav class="navbar bg-info">
  <div class="container-fluid">
    <a class="navbar-brand">NoBokek App</a>
    <a href="{% url 'nobokek:login' %}">
        <button class="btn btn-outline-success bg-warning" type="button" href="{% url 'nobokek:login' %}">
            Login
        </button>
    </a>
    <form class="d-flex ms-auto" role="search">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    
    
  </div>
</nav>

<div class="card mx-auto bg-warning" style="width: 30rem;">
    <div class="card-body">
        <p>
            NoBokek ini dibuat untuk membantu mempermudah pengelolaan keuangan pengguna atau user khususnya bagi mahasiswa. Pada NoBokek, pengguna dapat mencatat pengeluaran serta pendapatan kemudian melihat perkembangannya perminggu dengan penyajian yang menarik dan mudah dimengerti. NoBokek ini juga menyediakan info terkini mengenai hal-hal yang terkait dengan dunia ekonomi dan finansial. Terdapat juga forum untuk pengguna melakukan posting.
        </p>
    </div>
  </div> 


<h5>Berita Terkini</h5>
<div class="card">
    <div class="card-body">
        <button class="btn btn-outline-success" type="button">
            <a href="https://republika.co.id/berita/rkdt6h5125000/menjaga-stabilitas-sistem-keuangan" target="_blank">Menjaga Stabilitas Sistem Keuangan</a>
        </button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <button class="btn btn-outline-success" type="button">
            <a href="https://www.idntimes.com/business/economy/hana-adi-perdana-1/tips-menjaga-stabilitas-keuangan-di-tengan-ancaman-resesi-global" target="_blank">Tips Menjaga Stabilitas Keuangan di Tengan Ancaman Resesi</a>
        </button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <button class="btn btn-outline-success" type="button">
            <a href="https://konstruksimedia.com/tips-siapkan-keuangan-lebih-aman-tangkal-resesi-global/" target="_blank">Tips Siapkan Keuangan Lebih Aman Tangkal Resesi Global</a>
        </button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <button class="btn btn-outline-success" type="button">
            <a href="https://www.republika.co.id/berita/rk9lrb349/tips-belajar-mengatur-keuangan-saat-ancaman-resesi-ekonomi" target="_blank">Tips Belajar Mengatur Keuangan Saat Ancaman Resesi Ekonomi</a>
        </button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <button class="btn btn-outline-success" type="button">
            <a href="https://finansial.bisnis.com/read/20221023/55/1590340/simak-7-tips-cerdas-atur-uang-agar-financial-freedom-tercapai" target="_blank">Simak 7 Tips Cerdas Atur Uang Agar Financial Freedom Tercapai</a>
        </button>
    </div>
</div>



{% endblock content %}