{% extends 'base.html' %}

{% block content %}
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">NoBokek App</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <button class="btn btn-outline-success" type="button"> 
        <a href="{% url 'nobokek:login' %}">Login</a>
    </button>
  </div>
</nav>

<div class="card mx-auto" style="width: 30rem;">
    <div class="card-body">
        <p>
            NoBokek ini dibuat untuk membantu mempermudah pengelolaan keuangan pengguna atau user khususnya bagi mahasiswa. Pada NoBokek, pengguna dapat mencatat pengeluaran serta pendapatan kemudian melihat perkembangannya perminggu dengan penyajian yang menarik dan mudah dimengerti. NoBokek ini juga menyediakan info terkini mengenai hal-hal yang terkait dengan dunia ekonomi dan finansial. Terdapat juga forum untuk pengguna melakukan posting.
        </p>
    </div>
  </div> 


<h5>Berita Terkini</h5>
<div class="card">
    <div class="card-body">
        <button class="btn btn-outline-success" type="button">
            Clipan Finance Indonesia Bukukan Laba Rp 75,88 Miliar di Kuartal III 2022</button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <button class="btn btn-outline-success" type="button">
            Clipan Finance Indonesia Bukukan Laba Rp 75,88 Miliar di Kuartal III 2022</button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <button class="btn btn-outline-success" type="button">
            Clipan Finance Indonesia Bukukan Laba Rp 75,88 Miliar di Kuartal III 2022</button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <button class="btn btn-outline-success" type="button">
            Clipan Finance Indonesia Bukukan Laba Rp 75,88 Miliar di Kuartal III 2022</button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <button class="btn btn-outline-success" type="button">
            Clipan Finance Indonesia Bukukan Laba Rp 75,88 Miliar di Kuartal III 2022</button>
    </div>
</div>


<!-- <table>
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
{% endfor %}
</table> -->


{% endblock content %}